    /* Web template */
    .web-template {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1.5r 2fr 0.8fr 0.5fr 100px;
        grid-template-areas:
            "navbars"
            "about"
            "stages"
            "projects"
            "contact"
            "footer"
        ;
        place-items: center;
    }

    .web-template>* {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .navbars {
        grid-area: navbars;
    }

    /* General Tags */

    h1 {
        margin-block-start: 20px !important;
        margin-block-end: 20px !important;
    }

    @media screen and (max-width:768px) {

        /* For Gallery Pages */
        .all-projects {
            width: 100%;
            display: grid !important;
            grid-template-columns: 1fr;
            gap: 20px;
            padding-block-start: 20px !important;
        }

        .project-box {
            width: 100%;
            height: 500px;
        }

        .project-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (min-width:768px) and (max-width:1200px) {

        /* For Gallery Pages */
        .all-projects {
            width: 100%;
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding-block-start: 20px !important;
        }

        .project-box {
            width: 100%;
            height: 500px;
        }

        .project-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (min-width:1200px) {

        /* For Gallery Pages */
        .all-projects {
            width: 100%;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding-block-start: 20px !important;
        }

        .project-box {
            width: 100%;
            height: 500px;
        }

        .project-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }